@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Global body */
body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, sans-serif;
  background: #ffffff;
  color: #111827;
  overflow-x: hidden;
}

/* Better text rendering */
* {
  box-sizing: border-box;
}

/* Image responsive */
img {
  max-width: 100%;
  display: block;
}

/* Selection Color */
::selection {
  background: #2563eb;
  color: white;
}



/* Input placeholder */
input::placeholder,
textarea::placeholder {
  color: #94a3b8;
}

/* Remove default button border */
button {
  border: none;
  cursor: pointer;
}

